<div id="<%= dom_id turntable %>">
  <p>
    <strong>Model:</strong>
    <%= turntable.model %>
  </p>

  <p>
    <strong>Manufacturer:</strong>
    <%= turntable.manufacturer %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= turntable.price %>
  </p>

  <p>
    <strong>Main image:</strong>
    <%= turntable.main_image %>
  </p>

</div>
